/*
###############################################################################
##
## @file:         _base.scss
## @description:  Defines the global styling for the website
##
###############################################################################
*/

/* VIEWPORT: will replace the metatag in the future */
@-ms-viewport           { zoom: 1.0; width: extend-to-zoom; }
@viewport               { zoom: 1.0; width: extend-to-zoom; }


/**
 * general
 * ------------------------------------------------------------------------- */
html                    { @include box-sizing(border-box); height: 100%; }
*, *:before, *:after    { @include box-sizing(inherit); }

body                    { height: 100%; line-height: 1.4; font: 100% $font-regular; text-align: center; background-color: $color-bg-default; color: $color-default; }

::-moz-selection        { background: $color-selected-text-bg; color: $color-selected-text; text-shadow: none; }
::selection             { background: $color-selected-text-bg; color: $color-selected-text; text-shadow: none; }


/**
 * headings
 * ------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6       { font-weight: 700; font-size: 1em; font-family: inherit; color: inherit; margin-top: 1em; margin-bottom: .5em; }
h1                      { @include x-rem(font-size, 1.75); line-height: 1.25; }
h2                      { @include x-rem(font-size, 1.5); line-height: 1.25; }
h3                      { @include x-rem(font-size, 1.25); line-height: 1.25; }


/**
 * links
 * ------------------------------------------------------------------------- */
a                       { text-decoration: underline; color: $color-link; }
a:hover,
a:focus,
a.active                { color: $color-link-hover; cursor: pointer; }
a:active,
a:selected              { border: none; outline: none; }


/**
 * text styles
 * ------------------------------------------------------------------------- */
p                       { margin: 0 0 1.5em; }
strong                  { font-weight: 700; }
em                      { font-style: italic; }
address                 { font-style: normal; }


/**
 * images
 * ------------------------------------------------------------------------- */
.body img               { max-width: 100%; height: auto; margin-bottom: 1.5em;

  /* add class .left or .right to the image, and it will float on larger screens */
  @include bp($tablet_narrow) {
    &.left                  { float: left; max-width: 47.5%; margin-right: 5%; }
    &.right                 { float: right; max-width: 47.5%; margin-left: 5%; }
  }
}


/**
 * lists
 * ------------------------------------------------------------------------- */
.body                   {
  ul, ol                  { padding: 0; margin: 1em 0 1em 2.5em; }
  ul ul, ol ol            { margin: .5em 0 .5em 2.5em; }
  li                      { padding-bottom: .5em; }

  .inline                 { margin-left: -.5em; list-style: none; }
  .inline > li            { display: inline-block; padding: 0 .5em; }
}
ul.tips                   { font-size: 80%; }


/**
 * tables
 * ------------------------------------------------------------------------- */
table                   { width: 100%; margin-bottom: 1.5em; border: 1px solid $color-lightgrey; border-collapse: collapse; border-spacing: 0; empty-cells: show;
  caption                 { padding: .5em 0; color: $color-default; font-size: 1em; font-style: italic; text-align: center; }
  thead                   { background-color: $color-lightgrey; text-align: left; }
  th, td                  { border-right: 1px solid $color-lightgrey; overflow: visible; padding: 1em;
    &:last-child            { border-right: none; }
  }
  tr, td                  { @include transition(background-color .6s ease); }

  @include bp($tablet_narrow) {
    &                       { width: auto; }
    th, td                  { padding: 1em 1.5em; }
  }
}

/* ----- Responsive tables ----- */
/* Wrap table in a div with class .table-responsive' and we'll make them mobile friendly by enabling horizontal scrolling. Only applies < 720px. */
.table-responsive       { overflow-x: auto; min-height: 0.01%; // Workaround for IE9 bug
  @media (max-width: 719px)
                          { width: 100%; margin-bottom: 1.5em; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid $color-lightgrey;

    > table                 { margin-bottom: 0; border: 0 none;
      > thead,
      > tbody,
      > tfoot                 {
        > tr > th,
        > tr > td               { white-space: nowrap; }
      }
    }
  }
}


/**
 * other
 * ------------------------------------------------------------------------- */
hr                      { display: block; height: 1px; border: 0; border-top: 1px solid $color-lightgrey; margin: 1.5em 0; padding: 0; }

/* quote block */
blockquote              { margin: 1.5em 0 1.5em 1em; padding: 1em 1.25em; font-size: 1.143em; border-left: 5px solid $color-highlight; background-color: lighten($color-highlight, 65%);
  p:last-child,
  ul:last-child,
  ol:last-child           { margin-bottom: 0; }

  footer, small           { display: block; font-size: 80%; color: $color-default;
    &:before                { content: '\2014 \00A0'; }
  }
}

/* inline quote */
q                       { quotes: '“' '”'; padding: 3px 7px; margin-left: 3px; border-left: 3px solid $color-highlight; background-color: lighten($color-highlight, 65%); }
