/*
###############################################################################
##
## @file:         _general.scss
## @description:  Defines the styling of general elements for the site
##
###############################################################################
*/

/**
 * Header
 * ------------------------------------------------------------------------- */
.header                     {
  .logo                       { margin: 0; width: 20%; max-width: 100px;
    a                           { display: block; width: 100%; }
    img                         { width: 100%; height: auto; }

    @include bp($tablet_narrow) { float: left; }
  }
  .region-header              {
    @include bp($tablet_narrow) { margin-left: 20%; }
  }
}


/**
 * Footer
 * ------------------------------------------------------------------------- */
.footer                     { background-color: $color-lightgrey; text-align: center; @include x-rem(font-size, 0.813); }


/**
 * Content
 * ------------------------------------------------------------------------- */
.page-title                 { margin: 0 0 1em; }
.body                       { @include x-rem(font-size, 0.875); text-align: left; }
