/*
###############################################################################
##
## @file:         _nav.scss
## @description:  Defines the navigation styling for the site
##
###############################################################################
*/

/**
 * Tabs
 * ------------------------------------------------------------------------- */
ul.tabs                 { display: block; margin: 1.5em 0; border-radius: 4px; text-align: left; line-height: 2;
  &, li                   { list-style: none; padding: 0; }
  li                      { @include inline-block; margin: 0; margin-left: -5px; }
  li:first-child          { margin-left: 0; }

  a                       { position: relative; float: left; padding: 0 13px; color: $color-highlight; text-decoration: none; background-color: $color-white; border: 1px solid $color-lightgrey;
    &:hover,
    &:focus                 { z-index: 3; color: $color-highlight; background-color: $color-lightgrey; border-color: $color-lightgrey; }
  }
  a.active                { z-index: 2; color: $color-white; cursor: default; background-color: $color-highlight; padding: 1px 14px; }
  li:first-child a        { border-radius: 4px 0 0 4px; }
  li:last-child a         { border-radius: 0 4px 4px 0; }
}



/* 1.1 Nav general
---------------------------------------------------------------------------- */
.nav-block                          { color: $color-default;
  ul                                  { position: relative; display: block; }
  ul,
  li                                  { list-style: none; margin: 0; padding: 0; position: relative; }
  li a                                { display: block; padding: .25em .5em; color: $color-default; text-decoration: none; white-space: normal;
    &:hover, &:focus                  { background-color: $color-lightgrey; }
    &.active                          { background-color: $color-highlight; color: $color-white; }
  }

  /* Level 2 & lower */
  ul ul                               { margin-left: 1em; }
}


/* 1.2 Nav Main
---------------------------------------------------------------------------- */
.nav-block-1                        { font-weight: 700; line-height: 2em; @include x-rem(font-size, 1); text-align: right;
  ul ul                               { margin: 0; }
  li                                  { display: block; width: 100%; text-transform: uppercase; text-align: center; border-bottom: 1px solid $color-white;
    &:last-child                        { border: 0 none; }
  }

  li a                                { background-color: lighten($color-default, 90%); }
  li li a                             { background-color: lighten($color-default, 80%); }
  li li li a                          { background-color: lighten($color-default, 70%); }
  li li li li a                       { background-color: lighten($color-default, 60%); }

  li a:hover,
  li a:focus                          { background-color: lighten($color-default, 30%); color: $color-white; }

  /* toggler for subnavs */
  .subnav-toggle                      { position: absolute; right: 0; top: 0; display: block; height: 100%; width: 40px; background-color: lighten($color-default, 80%);
    &:before                            { content:'\002B'; position: absolute; right: 0; top: 0; height: 100%; width: 100%; line-height: 40px; color: $color-white; font-weight: 400; font-size: 25px; text-align: center; cursor: pointer; }
    &.active:before                     { content:'\2013'; }
  }
  li li .subnav-toggle                { background-color: lighten($color-default, 70%); }
  li li li .subnav-toggle             { background-color: lighten($color-default, 60%); }

  .js &                               { max-height: 0; overflow: hidden; @include transition(max-height 0.3s ease);
    &.menu-visible                      { max-height: 999px; }

    /* subnavs */
    .menu-item--parent                  {
      & > ul                              { max-height: 0; overflow: hidden; @include transition(max-height 0.3s ease); }
      &.subnav-active > ul                { max-height: 999px; }
    }
  }
}

/* larger screens */
@include bp($nav-switch)            {
  .nav-block-1                        { float: right; padding-left: 0;
    .js &                               { max-height: 99em; overflow: visible; }

    .menu-item--level-1                 { display: inline-block; width: auto; text-align: right; vertical-align: top;
      &.menu-item--parent                 { padding-right: 40px; }
      & > ul                              { position: absolute; width: 200px; top: 100%; }
    }

    .menu-item--parent.subnav-active > ul { overflow: visible; }
  }
}

/* responsive menu toggler */
.menu-toggle                        { position: absolute; display: block; right: 0; top: 0; overflow: hidden; height: 40px; width: 40px; background-color: $color-lightgrey; text-indent: -999em;
  &.active                            { background-color: $color-highlight; }
  &:before                            { content:'\2261'; position: absolute; right: 0; top: 0; height: 100%; width: 100%; line-height: 40px; text-indent: 0; color: $color-white; font-weight: 400; font-size: 30px; text-align: center; cursor: pointer; }

  @include bp($nav-switch)            { display: none; }
}
