/*
###############################################################################
##
## @file:         _variables.scss
## @description:  Defines some global variables for the website
##
###############################################################################
*/

/**
 * Variables
 * ------------------------------------------------------------------------- */
$polyfill-path: "/sites/<sitename>.be/themes/<themename>/assets/css/polyfills/";

// $legacy-support-for-ie: true;
// $legacy-support-for-ie6: false;
// $legacy-support-for-ie7: false;
// $legacy-support-for-ie8: true;


/**
 * Breakpoints
 * ------------------------------------------------------------------------- */
$mobile_narrow: 320px;
$mobile_wide:   480px;
$tablet_narrow: 600px;
$tablet_wide:   920px;
$desktop:       1040px;
$wide:          1280px;

// Switch from mobile to desktop nav
$nav-switch: $tablet_narrow;
